body {
    padding: 0;
   margin: 0;
   font-family: 'Ovo' !important;
}
.main-container {
    width: 60%;
    position: relative;
    margin: auto;
  margin-top: 150px;
}

@media only screen and (max-width: 600px) {
 .main-container {
     width:85% !important;
     position: relative;
    margin: auto;
    margin-top: 150px;
 }
}